//generic device width:

$device-phone: 320px; //Smallest phone widths we'll see
$device-phone-landscape: 400px;
$device-phablet: 550px;
$device-tablet: 700px; //Average for tablet
$device-netbook: 768px;
$device-notebook: 900px;
$device-laptop: 1200px;

$body-text: black;
$body-background: aliceblue;
$radius: 15px;

div {
  height: 400px;
}


.phone {
  display: none;
  background: magenta;
}
.phone-landscape {
  display: none;
  background: rgb(2, 240, 12);
}
.phablet {
  display: none;
  background: rgb(170, 12, 219);
}
.tablet {
  display: none;
  background: orange;
}
.netbook {
  display: none;
  background: yellow;
}
.notebook {
  display: none;
  background: rgb(255, 0, 0);
}
.laptop {
  display: none;
  background: url('http://d1oi7t5trwfj5d.cloudfront.net/48/02/86c3bc144ede9015b76d13877265/samuel-l-jackson.jpg');
}

// @media (min-width: 320px) {}
@media (min-width: $device-phone) {
  .phone {
    display: block;
  }
}

@media (min-width: $device-phone-landscape) {
  .phone {
    display: none;
  }
  .phone-landscape {
    display: block;
  }
}

@media (min-width: $device-phablet) {
  .phone {
    display: none;
  }
  .phone-landscape {
    display: none;
  }
  .phablet {
    display: block;
  }
}

@media (min-width: $device-tablet) {
  .phone {
    display: none;
  }
  .phone-landscape {
    display: none;
  }
  .phablet {
    display: none;
  }
  .tablet {
    display: block;
  }
}

@media (min-width: $device-netbook) {
  .phone {
    display: none;
  }
  .phone-landscape {
    display: none;
  }
  .phablet {
    display: none;
  }
  .tablet {
    display: none;
  }
  .netbook {
    display: block;
  }
}

@media (min-width: $device-notebook) {
  .phone {
    display: none;
  }
  .phone-landscape {
    display: none;
  }
  .phablet {
    display: none;
  }
  .tablet {
    display: none;
  }
  .netbook {
    display: none;
  }
  .notebook {
    display: block;
  }
}

@media (min-width: $device-laptop) {
  .phone {
    display: none;
  }
  .phone-landscape {
    display: none;
  }
  .phablet {
    display: none;
  }
  .tablet {
    display: none;
  }
  .netbook {
    display: none;
  }
  .notebook {
    display: none;
  }
  .laptop {
    display: block;
  }
}
