$blue: blue;


body{
  border: 3px solid white;
  background-color: black;
  height: 500px;
  width: 500px;
  // .nested-p{
  //   background-color: red;
  // }
  // :hover{
  //   background-color:green;
  // }

  header {
    border: 3px solid white;
    height: 30px;
    width: 90%;
    margin: auto;
  }
  .left-column {
    float: left;
    border: 3px solid orange;
    height: 450px;
    width: 28%;
    margin: 6px;

  }
  .right-column {
    float: right;
    border: 3px solid orange;
    height: 450px;
    width: 28%;
    margin: 6px 6px 6px 0px;
  }


}
