$blue: blue;


// div{
//   background-color: $blue;
//   height: 500px;
//   width: 500px;
//   .nested-p{
//   background-color: red;
//   }
//   :hover{
//     background-color: green;
//   }
// }

#wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.narrowColClass{
  position:absolute;
  float: right;
  border: 1px solid black;
  height: 300px;
  .subCol1{
    position: relative;
    clear: right;
  }
}

.columnClass{
  height: 600px;
  width: 30%;
  border: 1px solid black;
  float: left;
  margin-left: 10px;
  background-color: rgb(157, 221, 173);
  font-size: 50px;
  text-align: center;
  :hover{
    background-color: rgb(222, 95, 95);
  }
  .subCol1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .subCol2{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;

  }
  .subCol3{
    color: rgb(210, 138, 57);
    font-size: 20px;
  }
}
