<form action="/submit_form" method="post">
  <input type="text" name="name" value="" placeholder="key of happy thing">
  <input type="text" name="value_of_name" value="" placeholder="value of happy thing">
  <input type="submit" value="CLICK ME">
</form>
