<body>
  <p>
    this page loads
  </p>
  <input type="file" name='testname' id='testID' onclick="appendImage('this');"></input>
  <button type="button" name="button" onclick =
  "show_image('http://bebusinessed.com/wp-content/uploads/2014/03/734899052_13956580111.jpg')"></button>

  <!-- <input type="file" name='testname' id='testID' onclick="appendImage('testID');"></input> -->
  <!-- <button type="button" name="button" id='buttonID' onclick="getBase64Image('imgID')">render Base64</button> -->
  <div id = 'imageHere'></div>

  <!-- http://www.html5rocks.com/en/tutorials/file/dndfiles/ --> 

  <!-- <img src="images/3UHP1JR8XB.jpg" alt="" /> -->

</body>


<!--
1. add button on screen to select image, have image appear on screen.
2. convert image to text and append to home.erb DOM
3. render text on screen so the user can see or copy/paste  -->
