$device-phone:  320px;
$device-phone-landscape: 400px;
$device-phone-phablet: 550px;
$device-tablet: 700px;
$device-netbook: 768px;
$device-notebook:900px;
$device-laptop: 1200px;

$body-text: black;
$body-background: aliceblue;
$radius: 15px;

.phone{
  background: magenta;
  display: none;
}

.tablet{
  background: orange;
  display: none;
}

.laptop{
  background: yellow;
  display: none;
}

.phonels{
  background: green;
  display: none;
}
.phoneph{
  background: rgb(21, 237, 211);
  display: none;
}

.netbook{
  background: rgb(240, 37, 213);
  display: none;
}

.notebook{
  background: rgb(250, 76, 248);
  display: none;
}
@media (min-width: $device-phone) {
  .phone {
    display: block;
  }

}

@media (min-width: $device-phone-landscape) {
  .phone {
    display: none;
  }
  .phonels{
    display: block;
  }

}
@media (min-width: $device-phone-phablet) {
  .phone {
    display: none;
  }
  .phonels{
    display: none;
  }
  .phoneph{
    display: block;
  }

}

@media (min-width: $device-tablet){
  .phone {
    display: none;
  }
  .tablet{
    display: block;
  }
  .phonels{
    display: none;
  }
  .phoneph{
    display: none;
  }
}

@media (min-width: $device-netbook) {
  .phone {
    display: none;
  }
  .tablet{
    display: none;
  }
  .phonels{
    display: none;
  }
  .phoneph{
    display: none;
  }
  .netbook{
    display: block;
  }
}

@media (min-width: $device-notebook) {
  .phone {
    display: none;
  }
  .tablet{
    display: none;
  }
  .phonels{
    display: none;
  }
  .phoneph{
    display: none;
  }
  .netbook{
    display: none;
  }
  .notebook{
    display: block;
  }
}

@media (min-width: $device-laptop){
  .phone {
    display: none;
  }
  .phonels{
    display: none;
  }
  .phoneph{
    display: none;
  }
  .tablet{
    display: none;
  }
  .netbook{
    display: none;
  }
  .notebook{
    display: none;
  }
  .laptop{
    display: block;
  }
}
