body{
  background-color: rgb(160, 202, 237)
}
button{
  margin-left: 650px;
}
fieldset{
  margin: 40px;
  height: 9rem;
  width: 60%;
  text-align: center;
  margin-left: 250px;

}

#fieldsetOne{
  background-color: rgb(101, 177, 115);
  text-align:center;
}

#fieldsetTwo{
  background-color: rgb(101, 177, 115);
  text-align:center;
}

#bioID{
  float:center;
  margin-bottom: 20px;
}

#basicInfoID{
  float:center;
  margin-bottom: 40px;
}
