#youtube_box {
  display: block;
  color: white;
  width: 740px;
  margin: 0 auto;
  text-align: center; }

#title {
  font-size: 2em;
  font-weight: 900;
  color: #FFF010;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  margin: 8px 0 0;
  padding: 0; }

#title span {
  color: black;
  margin-right: 5px;
  font-style: normal; }

#title .tube {
  color: white;
  background: red;
  border-radius: 9px;
  padding: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

#answer_box {
  margin: 30px;
  text-align: center; }

#currentPlayer {
  display: none; }

.questionNumber {
  padding: 15px;
  text-align: center; }

ul {
  list-style: none; }

ul li {
  display: inline;
  margin-right: 15px; }

#question_box {
  font-style: italic; }

.btn {
  background: #cc0000;
  background: -moz-linear-gradient(-45deg, #cc0000 0%, #cc0000 100%);
  background: -webkit-linear-gradient(-45deg, #cc0000 0%, #cc0000 100%);
  background: linear-gradient(135deg, #cc0000 0%, #cc0000 100%);
  border-radius: 8px;
  color: #fff;
  border: 1px solid #aaa;
  height: 125px;
  width: 175px;
  display: inline;
  font-size: 1.2em;
  font-weight: 900;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px #000; }

.btn:hover {
  background: #611A1A;
  background: -moz-linear-gradient(35deg, #611A1A 0%, #cc0000 100%);
  background: -webkit-linear-gradient(35deg, #611A1A 0%, #cc0000 100%);
  background: linear-gradient(135deg, #611A1A 0%, #cc0000 100%);
  color: #FFF010; }

h1 {
  font-size: 2.2em;
  font-weight: 900;
  text-align: center; }

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  background: -moz-linear-gradient(45deg, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-linear-gradient(45deg, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(45deg, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); }

h2 {
  font-weight: 400; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

header {
  height: 75px;
  padding: 20px 0 0 0;
  background: #cc0000;
  background: -moz-linear-gradient(-45deg, #cc0000 0%, #cc0000 100%);
  background: -webkit-linear-gradient(-45deg, #cc0000 0%, #cc0000 100%);
  background: linear-gradient(135deg, #cc0000 0%, #cc0000 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #FF6C6C; }

footer {
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 0;
  background: #cccccc;
  background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #cccccc 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  border-top: 1px #fff;
  text-align: center; }

#score_box h4 {
  font-size: 2.5em;
  color: #ff0000;
  font-weight: 900;
  text-shadow: 1px 1px 1px #000;
  line-height: 1.7em; }

h4 span {
  color: #000;
  margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
