$center-width: 35%;
$column-space: 2%;
$aside-width: (100% - $center-width - ($column-space * 2))/2;
$column-bg: #333;
$text-color: #FFF;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2%;
  width: 100%;
  color: $text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

article, aside {
  float: left;
  padding: 3%;
  background: $column-bg;
}

aside {
  width: $aside-width;
}

article {
  width: $center-width;
}

.left, article {
  margin-right: $column-space;
}
